@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    

}

// .v-application {
//     background-image: url('../../public/images/avexe_banner.png');
//     background-size: content;
//     background-repeat: no-repeat;
//     background-position: center;
// }

div {
    box-sizing: border-box;
}


.dialog-auth-responsive {
    width: 500px;

    @media (max-width: 532px) {
        width: 450px;
    }

    @media (max-width: 476px) {
        width: 380px;
    }

    @media (max-width: 406px) {
        width: 320px;
    }

    @media (max-width: 344px) {
        width: 290px;
    }
}
.dialog-auth-responsive-800 {
    width: 800px;

    @media (max-width: 532px) {
        width: 450px;
    }

    @media (max-width: 476px) {
        width: 380px;
    }

    @media (max-width: 406px) {
        width: 320px;
    }

    @media (max-width: 344px) {
        width: 290px;
    }
}